.atmosfer-carusel{
 background: linear-gradient(#AADCFF ,#4190DE );
 width: 1380px;
 height: 830px;
 border-radius: 20px;
 display:flex;
 margin-left: auto;
 margin-right: auto;
}
.atmosfer-carusel-h{
    display: flex-block;
}
h1{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
.atmosfer-carusel-button-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 55px;
    border-radius: 20px;
    background-color: #FFB510;
    font-size: 20px;
}
.atmosfer-carusel-cards{
    display: inline;
}
#card-one{
    display: block;
    background: #ECEDF2;
    width: 350px;
    height: 425px;
    border-radius: 20px;
    display: inline-flex;
}
#card-two{
    display: block;
    background: #ECEDF2;
    width: 350px;
    height: 425px;
    border-radius: 20px;
    display: inline-flex;
}
#card-three{
    display: block;
    background: #ECEDF2;
    width: 350px;
    height: 425px;
    border-radius: 20px;
    display: inline-flex;
}
#card-four{
    display: block;
    background: #ECEDF2;
    width: 350px;
    height: 425px;
    border-radius: 20px;
    display: inline-flex;
}
#card-five{
    display: block;
    background: #ECEDF2;
    width: 350px;
    height: 425px;
    border-radius: 20px;
    display: inline-flex;
}