@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 16px 0 0 0;
  display: flex;
  flex-wrap: nowrap;
  background-color: #dee6ec;
  justify-content: center;
}
.boxes-containers {
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 -4px 4px 0 rgba(0, 0, 0, 0.25),
    -4px 0 4px 0 rgba(0, 0, 0, 0.25), 4px 0 4px 0 rgba(0, 0, 0, 0.25);
  max-width: 288px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .boxes-containers {
    max-width: 735px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1158px) {
  .boxes-containers {
    max-width: 1380px;
    margin-bottom: 50px;
  }
  body {
    margin: 30px 0 0 0;
  }
}

img {
  display: block;
}
ul,
ol,
a {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}
