.herosection{
 background: linear-gradient(#AADCFF ,#4190DE );
 width: 1380px;
 height: 830px;
 border-radius: 20px;
 display:flex;
 margin-left: auto;
 margin-right: auto;
}
.button1-slider1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 55px;
    border-radius: 20px;
    background-color: #FFB510;
    font-size: 20px;
}