.hero-section-container {
  padding-bottom: 66.65%;
  padding-top: 66.65%;
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(50, 67, 83, 0.85) 1.67%,
      rgba(27, 42, 56, 0.85) 43%,
      rgba(27, 42, 56, 0.85) 62%,
      rgba(50, 67, 83, 0.85) 100%
    ),
    url("/images/mobile-cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero-section-container {
    padding-bottom: 28.125%;
    padding-top: 28.125%;
    background-image: linear-gradient(
        180deg,
        rgba(50, 67, 83, 0.85) 1.67%,
        rgba(27, 42, 56, 0.85) 43%,
        rgba(27, 42, 56, 0.85) 62%,
        rgba(50, 67, 83, 0.85) 100%
      ),
      url("/images/tablet-cover.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .hero-section-container {
    background-image: linear-gradient(
        180deg,
        rgba(50, 67, 83, 0.85) 1.67%,
        rgba(27, 42, 56, 0.85) 43%,
        rgba(27, 42, 56, 0.85) 62%,
        rgba(50, 67, 83, 0.85) 100%
      ),
      url("/images/desktop-cover.jpg");
  }
}

.hero-section-h {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #dee6ec;
}
@media screen and (min-width: 768px) {
  .hero-section-h {
    margin-bottom: 20px;

    font-size: 42px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section-h {
    font-size: 80px;
  }
}
.hero-section-p {
  width: 200px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #dee6ec;
}
@media screen and (min-width: 768px) {
  .hero-section-p {
    font-weight: 600;
    font-size: 21px;
    width: 580px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section-p {
    font-size: 40px;
    width: 1130px;
  }
}
